/* header.css */

.header {
  background-color: #2c3e50;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  cursor: pointer;
  display: none; /* Oculta por padrão em telas maiores */
}

.menu-icon {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.nav {
  display: flex;
  justify-content: flex-end; /* Alinha os itens do menu à direita */
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Alinha os itens do menu à direita */
  align-items: center;
}

.nav-item {
  margin-left: 20px; /* Espaçamento entre os itens do menu */
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  display: flex; /* Exibe os itens do menu como flexíveis */
  align-items: center;
  padding: 10px;
  transition: background 0.3s;
}

.nav-link:hover {
  background-color: #34495e;
  color: #1abc9c;
}

.nav-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Media query para telas menores, como celulares */
@media screen and (max-width: 768px) {
  .nav {
    display: none; /* Oculta o menu principal em telas menores */
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #2c3e50;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav.open {
    display: flex; /* Exibe o menu quando está aberto */
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(0);
  }

  .menu-toggle {
    display: block; /* Exibe o menu toggle (hamburguer) em telas menores */
  }

  .nav-list {
    justify-content: flex-start; /* Ajusta a justificação dos itens do menu em telas menores */
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin-left: 0; /* Remove o espaçamento entre os itens do menu em telas menores */
    margin-bottom: 10px;
  }
}
